.error-message {
  color: #ff4d4f; /* Vermelho para destacar o erro */
  background-color: #fff1f0; /* Fundo claro para contraste */
  border: 1px solid #ffa39e; /* Borda para delimitar a mensagem */
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.card {
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  text-align: center;
  padding-top: 20px;
}

.container-vigilant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  background-color: #161625;
  margin-right: 2rem;
  margin-left: 2rem;
}

.host-info {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem linha se necessário */
  gap: 13px; /* Espaçamento entre os containers */
}

.host-card {
  flex: 1 1 calc(50% - 20px); /* Cada container ocupa 50% do espaço menos o gap */
  background-color: #f8f9fa;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(37, 25, 25, 0.507);
  background-color: #86aaf9;
}

@media (max-width: 768px) {
  .host-card {
    flex: 1 1 100%; /* Em telas menores, cada container ocupa 100% */
  }
}

.host-card ul {
  list-style-type: none;
  padding: 0;
}

.host-card li {
  margin-bottom: 10px;
}

.host-card a {
  color: blue;
  text-decoration: underline;
}